@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-200 dark:bg-stone-800 w-screen h-screen smooth;
}

.nav {
  @apply bg-stone-100 flex flex-col gap-2 p-4 justify-center rounded-r-lg shadow-lg -translate-x-64 lg:-translate-x-0 smooth;
}

.nav-btn {
  @apply  w-12 h-12 rounded-lg text-2xl flex px-2 items-center text-gray-800;
}

.smooth {
  @apply transform duration-300 ease-in-out;
}
.smoother {
    @apply transform duration-500 ease-in-out;
}
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
.tooltip {
    @apply group-hover:opacity-100 opacity-0 group-hover:translate-x-7 translate-x-9 smoother bg-black text-white rounded-r-lg px-2 py-4 text-sm;
}
card {
  @apply dark:text-white p-4 rounded-lg bg-slate-400;
}
logo {
  @apply flex justify-center w-full;
}
logo img{
  @apply w-52 h-auto;
}
.main {
  @apply w-full h-full container mx-auto pt-10;
}
a {
  @apply text-violet-900 hover:text-violet-500 dark:hover:text-white smooth;
}

/* Forms */
fieldset {
  @apply p-3 rounded-lg w-96 bg-gray-100/50 shadow-lg;
}
legend {
  @apply p-3 bg-violet-900 text-white rounded-lg text-center w-6/12;
}
.loginform form input {
  @apply outline-none focus:outline-none px-2 py-1 bg-transparent focus:border-b-2 focus:border-b-violet-700 border-b-2 border-gray-300 smooth w-full dark:text-white dark:placeholder:text-white/50 smooth;
}
.loginform form input[type='button'] {
  @apply outline-none focus:outline-none bg-violet-400 px-4 py-2 rounded-lg hover:bg-violet-700 text-white smooth disabled:bg-gray-400;
}
.loginform{
  @apply w-full flex justify-center items-center;
}
.loginform form {
  @apply flex flex-col items-center gap-4 py-8;
}
.loginform form button {
  @apply bg-violet-400 px-4 py-2 rounded-lg hover:bg-violet-700 text-white smooth;
}